h1{
  font-size: 50px;
  text-align: center;
}
p{
  font-size: 20px;
  text-align: center;
}
body{
  background-color:	#b2dfee;
}
img#Meniggratroute{
  width: 6,5cm ;
}
img#Turneroute{
  width: 6,5cm;
  height: 5cm;
}
img#Standroute{
  width: auto;
  height: auto;
}
img#HöhenprofilMeniggrat{
  width:auto;
  height: auto;
}
img#HöhenprofilTurne{
  width: auto;
  height: auto;
}
img#HöhenprofilStand{
  width: auto;
  height: auto;
}
