h1{
  font-size: 50px;
  color:#4A708B
}
h2
{
  font-size: 20px;
  font-weight:bold;
}
h3{
  font-size: 20px;
  font-weight: bold;
}
h4{
  font-size: 20px;
  font-weight: bold;
}
body{
  background-image: url(diemtigtal.jpg);
  background-attachment: fixed;
  text-align: center;
}
img#diemtigtal{
  width:1px;
  height:auto;
}
img#Meniggrat{
  display: block;
  width:10cm;
  height:5cm;
  margin-left: auto;
  margin-right: auto;
  box-align: center;

}
img#Stand{
  width: 8cm;
  height: 5cm;
  margin-left: auto;
  margin-right: auto;
  box-align: center;
}
img#Turnen{
  width: 7.5cm;
  height: 5cm;
  margin-left: auto;
  margin-right: auto;
  box-align: center;
}
.Stand{
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  justify-items: center;
}
.Turnen{
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  justify-items: center;
}
.grossdiv{
  display: grid;
  grid-template-columns: 33%, 66%;
  grid-column-gap: 10px;
  justify-items: center;
}
.Meniggrat{
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  justify-items: center;
}
.bild{
  grid-column: 1;
  grid-row: 1;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
}
.bild1{
  grid-column: 1;
  grid-row: 1;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
}
.bild2{
  grid-column: 1;
  grid-row: 1;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
}
.tabelle{
  grid-column: 2;
  grid-row: 1;
  align-self: center;
}
.tabelle1{
  grid-column: 2;
  grid-row: 1;
  align-self: center;
}
.tabelle2{
  grid-column: 2;
  grid-row: 1;
  align-self: center;
}
